
.login-card {
  max-width: 420px;
  margin: 40px auto;
}

/* message d'erreur */
.login-error {
  color: #f97373;
  margin-bottom: 10px;
}

/* bouton */
.login-btn {
  width: 100%;
  margin-top: 8px;
}

/* texte en bas */
.login-register-text {
  margin-top: 12px;
  font-size: 13px;
}

.login-register-link {
  text-decoration: underline;
}
